* {
    box-sizing: border-box;
}

html {
    block-size: 100%;
}

body {
    font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Arial, Helvetica,
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgba(223, 242, 247, .5);
    block-size: 100%;
    margin: 0;
}

span {
    padding-inline-end: 15px;
    padding-inline-start: 15px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    inline-size: 100%;
    block-size: 100%;
}

.chat {
    block-size: 300px;
    inline-size: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

::-webkit-input-placeholder {
    color: .711;
}

input {
    border: 0;
    padding: 15px;
    margin-inline-start: auto;
    border-radius: 10px;
}

.messages {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    block-size: 90%;
    inline-size: 100%;
    background-color: white;
    padding: 15px;
    margin: 15px;
    border-radius: 10px;
}

#bot {
    margin-inline-start: auto;
}

.bot {
    font-family: Consolas, 'Courier New', Menlo, source-code-pro, Monaco,  
	monospace;
}

.avatar {
    block-size: 2ex;
}

.response {
    display: flex;
    align-items: center;
    margin: 1vh;
}

#main {
	display: block;
}

#form-askguus {
	margin-inline: 2ex;
	padding-block: 1ex;
}

button {
	background-color: black;
	color: white;
	padding-inline: 2ex;
	padding-block: 0.5ex;
	border-radius: 50vh;
}
button:hover {
	background-color: darkgrey;
	color: black;
	animation-duration: 200ms;
}
/* Mobile */
@media only screen and (max-inline-size: 980px) {
    .container {
        flex-direction: column;
        justify-content: flex-start;
    }

    .chat {
        inline-size: 75vw;
        margin: 5vw;
    }
}